.brand {

  min-width: 220px;
  max-width: 600px;

  @media screen and (min-width: $minViewTablet) {
    width: 224px;
  }


}


@media screen and (min-width: 1440px) {
  .brand {
    width: 240px;
  }

}

