@import "variable";

.information {
  padding: var(--main-padding);
  width: 100%;
  display: flex;
  gap: var(--main-padding);
  flex-direction: column;
  justify-content: center;
  background-color: $bgMainColor;

  @media screen and (min-width: $minViewTablet) {
    flex-direction: row;
    justify-content: space-between;
  }

  .information__description {
    @media screen and (min-width: $minViewTablet) {
      width: 50%;
    }
  }

  .information__article {
    max-height: 90px;
    max-width: 100%;

    margin-bottom: var(--margin-bottom);

    text-overflow: clip;
    overflow: hidden;

    @media screen and (min-width: $minViewTablet) {
      max-height: 160px;
    }

    &--long {
      max-height: max-content;
    }

    .information__text {
      font-size: 14px;
      font-weight: 400;

      &:not(:last-child) {
        margin-bottom: var(--margin-bottom);
      }
    }
  }

  .information__photo {
    width: 100%;
    height: max-content;
    text-align: center;

    @media screen and (min-width: $minViewTablet) {
      width: 50%;
      height: auto;
      text-align: end;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 600px;

      @media screen and (min-width: $minViewTablet) {
        border-radius: 8px;
      }
    }
  }
}
