@import "variable";

.menu {
  width: 100vw;
  height: 100vh;

  padding: var(--main-padding);

  display: flex;
  flex-direction: column;
  row-gap: var(--main-padding);

  @media screen and (min-width: $minViewTablet) {
    width: 320px;
  }

  .menu__header {
    display: flex;
    align-items: center;
    margin-left: 55px;
    margin-bottom: var(--margin-bottom);

    @media screen and (min-width: $minViewDesktop) {
      margin-left: 0;
    }

    .menu__search-btn {
      margin-left: auto;
    }
  }

  .menu__nav {
    flex: 1;

    .menu__list {
      .menu__item {
        display: flex;
        align-items: center;

        position: relative;
        transition-duration: 500ms;

        &:not(:last-child) {
          margin-bottom: var(--margin-bottom-menu);
        }

        &:before {
          display: block;
          content: "";

          height: 0;
          width: 0;
          background-color: #41f6d7;
          border-radius: 20px;

          position: absolute;
          left: calc(-1 * var(--main-padding));

          transition-duration: 200ms;
        }

        &--active:before,
        &:hover:before,
        &:focus:before {
          display: block;
          content: "";

          height: 32px;
          width: 4px;
          background-color: #41f6d7;
          border-radius: 20px;

          position: absolute;
        }

        &--active {
          position: relative;

          .menu__link {
            color: $titleColor;
          }
        }
      }
    }
  }

  .menu__footer {
    .menu__connection-btn {
      margin-bottom: 16px;
    }

    .menu__contact {
      display: flex;
      flex-direction: column;
      row-gap: 12px;
      margin-bottom: var(--margin-bottom-menu-lang);

      .menu__phone {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        letter-spacing: -0.6px;
      }
    }

    .menu__list-lang {
      display: flex;

      .menu__link:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .menu__link {
    color: $mainTextColor;

    transition-duration: 200ms;

    &:hover,
    &--active {
      color: $titleColor;
    }
  }
}
