@import "variable";

.repair {
  //width: 100vw;
  overflow: hidden;

  &--brand {
    .repair__item {
      height: 72px;
    }
  }

  &--equipment {
    .repair__item {
      height: 160px;
    }
  }

  .repair__block {
    margin: 0 auto;

    @media screen and (min-width: $minViewTablet) {
      width: $minViewTablet;
    }

    @media screen and (min-width: $minViewDesktop) {
      width: calc(1366px - 320px);
    }

  }

  .repair__list {
    @media screen and (min-width: $minViewTablet) {
      display: flex;
      flex-wrap: wrap;
      column-gap: var(--main-padding);

      box-sizing: border-box;
      position: static;
      z-index: auto;
    }
  }

  .repair__item {


    @media screen and (min-width: $minViewTablet) {
      margin-bottom: 16px;


    }

    @media screen and (min-width: $minViewTablet) {
      width: 224px;

    }

    @media screen and (min-width: $minViewDesktop) {
      max-width: 240px;
    }
  }

  .repair__item__hide {
    display: none;
  }

  //
  //
  //
  //.repair__list {
  //  display: flex;
  //  justify-content: center;
  //  flex-wrap: wrap;
  //
  //}

}


//@media screen and (min-width: 768px) and (max-width: 1439px) {
//
//
//    .repair__item:not(:last-child, :nth-child(3n)) {
//      margin-right: 24px;
//    }
//
//}
//
//@media screen and (min-width: 1440px) {
//
//  .repair__item:not(:last-child, :nth-child(4n)) {
//    margin-right: 32px;
//  }
//}
