@import "variable";

.submenu {
  background-color: $bgMainColor;

  .submenu__list {
    display: flex;
    gap: 16px;
    align-items: center;

    overflow-x: auto;

    @media screen and (min-width: $minViewTablet) {
      flex-wrap: wrap;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .submenu__item {
      padding: 10px 15px;
      transition-duration: 500ms;

      background-color: inherit;

      border: 2px solid rgba(0, 0, 0, 0);
      border-radius: 5px;

      &--active,
      &:focus,
      &:hover {
        background-color: $bgHeadlineColor;

        border: 2px solid $borderBlock;
        border-radius: 5px;
      }

      .submenu__link {
        overflow-x: scroll;
        width: auto;
        white-space: nowrap;
      }
    }
  }
}
