@import "variable";


@media screen and (max-width: 767px) {
  .swiper-container {
    display: flex;
    position: relative;
    padding-bottom: var(--margin-bottom);

    .swiper-wrapper {
      margin-bottom: 20px;

      .swiper-slide {
        width: 80%;
        margin-right: 16px;
        margin-bottom: 20px;
      }
    }

    .swiper-pagination {
      height: 12px;
      margin-bottom: 20px;

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background: #dddddd;
      }

      .swiper-pagination-bullet-active {
        background: #b5b6bc;
      }
    }
  }

  .price {
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          width: 85%;
          margin-right: 16px;
        }
      }
    }
  }

  .swiper-container:after {
    display: block;
    content: "";

    width: 24px;
    height: 100%;
    background-image: linear-gradient(to right, rgba(248, 248, 248, 0.0001), rgba(248, 248, 248, 0.9));
    position: absolute;
    right: -1px;
    z-index: 1;


  }

}
