@import "variable";

.table {
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;

  th:first-child,
  td:first-child {
    padding-left: var(--main-padding);
  }

  td:last-child {
    padding-right: var(--main-padding);
  }

  .table__head {
    background-color: $bgMainColor;

    .table__row {
      .table__title {
        line-height: 16px;
        color: $titleColor;
        font-weight: 500;
        text-align: start;
        padding-bottom: 16px;
      }
    }
  }

  .table__body {
    background-color: #ffffff;

    .table__row {
      &:not(:last-child) {
        border-bottom: 1px solid $borderBottomTable;
      }

      .table__description {
        line-height: 18px;
        font-weight: 400;
        padding-bottom: 23px;
        padding-top: 23px;
      }

      .table__btn {
        margin-left: auto;
      }
    }
  }
}
