@import "variable";

.table {
  font-size: 14px;

  .table__head {
    background-color: $bgMainColor;
    border-left: var(--main-padding) solid $bgMainColor;
    border-right: var(--main-padding) solid $bgMainColor;

    .table__row {

      .table__title {
        line-height: 16px;
        color: $titleColor;
        font-weight: 500;
        text-align: start;
        padding-bottom: 16px;
      }
    }
  }

  .table__body {
    background-color: #FFFFFF;
    border-left: var(--main-padding) solid #FFFFFF;
    border-right: var(--main-padding) solid #FFFFFF;

    .table__row {

      &:not(:last-child) {
        border-bottom: 1px solid $borderBottomTable;
      }

      .table__description {
        line-height: 18px;
        font-weight: 400;
        padding: 23px 0;
      }

      .table__btn {
        margin-left: auto;
      }
    }

  }
}
