
$mainTextColor: #1B1C21;
$titleColor: #7E7E82;

$bgMainColor: #F8F8F8;
$bgHeadlineColor: #FFFFFF;

$borderBlock: #B8FFEC;
$borderTopBlock: #D9FFF5;
$borderLeftBlock: #41F6D7;
$borderBottomTable: #EAEAEA;

$bgLongBtn: #FF3E79;

$minViewTablet: 768px;
$minViewDesktop: 1366px;

