$mainTextColor: #1b1c21;
$titleColor: #7e7e82;
$formColor: #b5b6bc;

$bgMainColor: #f8f8f8;
$bgHeadlineColor: #ffffff;

$borderBlock: #b8ffec;
$borderTopBlock: #d9fff5;
$borderLeftBlock: #41f6d7;
$borderBottomTable: #eaeaea;

$bgLongBtn: #ff3e79;

$minViewTablet: 768px;
$minViewDesktop: 1366px;

:root {
  --main-padding: 16px;
  --margin-bottom: 15px;
  --margin-bottom-menu: 24px;
  --margin-bottom-menu-lang: 8px;

  @media screen and (min-width: $minViewTablet) {
    --main-padding: 24px;
    --margin-bottom: 24px;
    --margin-bottom-menu: 32px;
    --margin-bottom-menu-lang: 40px;
  }

  @media screen and (min-width: $minViewDesktop) {
    --main-padding: 30px;
  }
}
